<main>
  <app-card>
    <h1>Uw gegevens</h1>
    @let deelnemer = deelnemer$ | async;
    @if (deelnemer) {
    <ul>
      <li>Naam: {{ deelnemer.naam.voornaam }} {{ deelnemer.naam.achternaam }}</li>
      <li>Geboortedatum: {{ deelnemer.geboortedatum | date }} </li>
      <li>Email: {{ deelnemer.email }}</li>
    </ul>

    <ul>
      <li>Status: {{ deelnemer.status }}</li>
      <li>Parttime %: {{ deelnemer.parttimePercentage }}</li>
      <li>Fulltime salaris: {{ deelnemer.fulltimeSalaris | eur }}</li>
    </ul>
    }
  </app-card>
  <app-card>
    <h1>Waarde op pensioenleeftijd</h1>
    <div class="row">
      <ul>
        <li>Jaren: {{ pensioenleeftijd.years }}</li>
        <li>Maand(en): {{ pensioenleeftijd.months }}</li>
      </ul>
      <h2>{{ verwachteWaarde() | eur }}</h2>
    </div>
  </app-card>
  <app-pensioenleeftijd-kiezer></app-pensioenleeftijd-kiezer>
</main>